.acc-all{
    background: url(../../../public/assets/accueil-fond/5197214.jpg) center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.292);
}
.acc-header{
    background-color: #dc5c25;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acc-header .logo {
    width: 100px;
}
.acc-header .logo img{
    width: 100px;
}
.acc-header .insc-conn{
    display: flex;
    align-items: center;
}

.acc-header .insc-conn a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background: url(../../../public/assets/fond-login/spirale-de-montagne-violette-fluide-une-imagination-brillante-generee-par-l-ia.jpg) center center / cover no-repeat;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
  animation: zoomBg 6s ease-in-out infinite;
  text-decoration: none;
}

@keyframes zoomBg {
    0% {
        background-size: 100%;
        
    }
    50% {
        background-size: 180%;
        transform: rotateX('360');
    }
    100% {
        background-size: 100%;
    }
}

.acc-secondo{
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.acc-secondo .motivation{
    padding: 70px;
    width: 70%;
}
.acc-secondo h3{
    text-align: center;
    font-size: 70px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.acc-secondo span{
    color: rgb(255, 255, 255);
}
.acc-secondo p{
    color: rgb(0, 0, 0);
    margin-left: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.acc-secondo img{
    height: 450px;
    z-index: 4;
}
.zone-part{
    height: 270px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff5a;
}
.zone-part h3{
    color: #000000;
    font-size: 46px;
    text-align: center;
}
.partenaire{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.partenaire .part{
    padding: 20px;
    height: 80%;
    width: 20%;
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 2px 5px 3px #dc5c25;
}
.acc-parlage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
}
.acc-parlage .atouts h3,
.acc-parlage .mission h3,
.acc-parlage .paiement h3,
.acc-parlage .nos-services h3{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    flex-wrap: wrap;
}
.acc-parlage div{
    background-color: rgb(255, 255, 254);
    padding: 10px;
    height: 80%;
    width: 25%;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 2px 5px 3px #dc5c25;
}

.statistique{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 260px;
    background-color: #fff;
}
.statistique div{
    width: 23%;
    height: 80%;
    background-color: #000000;
}

.temoignage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 260px;
}
.temoignage div{
    width: 25%;
    height: 80%;
    background-color: #000000;
}










.footer{
    height: 133px;
 display: flex;
 flex-direction: column;
 background-color: #00000040;
}
.footer h2{
    text-align: center;
}
.footer .fotern{
    display: flex;
    justify-content: space-around;
}