.connect-page{
    height: 100vh;
    background: url(../../../public/assets/accueil-fond/5197214.jpg) center ;
    background-size: cover;

}
.acc-header{
    background-color: #dc5c25;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.acc-header .logo {
    width: 100px;
}
.acc-header .logo img{
    width: 100px;
}
.acc-header .insc-conn{
    display: flex;
    align-items: center;
}

.acc-header .insc-conn a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 5;
  background: url(../../../public/assets/fond-login/spirale-de-montagne-violette-fluide-une-imagination-brillante-generee-par-l-ia.jpg) center center / cover no-repeat;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
  animation: zoomBg 6s ease-in-out infinite;
  text-decoration: none;
}

@keyframes zoomBg {
    0% {
        background-size: 100%;
        
    }
    50% {
        background-size: 180%;
        transform: rotateX('360');
    }
    100% {
        background-size: 100%;
    }
}

.connect-page .giga{
    display: flex;
    justify-content: center;
    height: 92%;
    align-items: center;
    flex-direction: column;
}
.connect-page h2{
    text-align: center;
    color: #ffffff;
}
.connect-page h2 span{
    color: #f98c06;
    font-size: 32px;
}
.connect-page .lpm h1{
    color: #0000009e;
    font-size: 37px;
    margin-bottom: 25px;
}
.connect-page .giga-form{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.connect-page .lpm{
    width: 98%;
    height: 99%;
}
.connect-page .all-form{
    width: 380px;
    height: 350px;
    background-color: #fefefe53;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.connect-page .meute{
    display: flex;
    justify-content: space-around;
}
.connect-page .insc{
    background-color: #f2f2f2;
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    top: -71px;
    right: -74px;
}
.connect-page .all-form a{
    background-color: #ffffffd0;
    position: absolute;
    padding: 40px;
    border-radius: 50%;
    top: -61px;
    right: -104px;
    color: rgb(63, 56, 56);
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    visibility: hidden;
}
.connect-page h1{
    color: #1939c78e;
    text-align: center;
    margin-top: 20px;
}
.connect-page .btn1, .connect-page .btn2, .connect-page .btn14 input{
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.connect-page .btn1 input, .connect-page .btn14 input{
    border-top: none;
    border-left: 5px solid #333;
    border-right: none;
    border-bottom: 2px solid #333;
    outline: none;
    margin: 10px 0;
    padding: 5px 40px;
    background-color: transparent;
    width:220px;
    color: #000000;
    font-size: 16px;
    border-radius: 25px 0 ;
    font-weight: 700;
    text-align: center;
} 


.connect-page .btn14 input{
    width: 250px;
}
/* #nom{
    width: 250px;
} */
.connect-page .meute{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.connect-page .lpm .bi{
    color: #213ad9;
    position: absolute;
    left: 10px; 
    top: 10px;
    font-size: 25px;
}
.connect-page .seul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .connect-page .seul .bi{
    position: absolute;
    left: 15px;
    top: 35px;
    font-size: 25px;
} */
.connect-page .btn2 input{
    padding: 5px;
    width: 120px;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-top: 15px;
    background-color: #0122a8c1;
 
}


/* ------------- Deuxieme Formulaire ----------------- */
/* ------------- Deuxieme Formulaire ----------------- */
/* ------------- Deuxieme Formulaire ----------------- */
/* ------------- Deuxieme Formulaire ----------------- */
/* ------------- Deuxieme Formulaire ----------------- */
/* ------------- Deuxieme Formulaire ----------------- */



.connect-page .giga .indic{
    display: flex;
    width: 50%;
}
.connect-page  #droite, .connect-page  #gauche{
    z-index: 10;
    border: none;
    font-weight: 800;
    color: #2f73d893;
    font-size: 25px;
    padding: 5px 15px;
    background-color: #ffffff;
    border-radius: 15px;
}
.connect-page .giga-form #gauche{
    right: 130px;
} 
.connect-page .giga-form #droite{
    left: 130px;
} 
.connect-page .Couverture{ 
    padding: 30px;
    width: 382px;
    height: 350px;
    background-color: #000000;
    color: #ffffff;
    
    z-index: 30;
    position: absolute;
    transform: translateX(50%);
}
 .connect-page .gauche{ 
    transform: translateX(-50%);
    transition: .1s;
}
 .connect-page .droite{
    transform: translateX(50%);
    transition: .1s;
} 